<header>
    <nav class="main-header_nav">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img class="monstera" src="/images/monstera.png" alt="monstera leaf">BUD-DY</a>
            <ul id="nav-mobile" class="right main-header_list">
                <li class="main-header_list-item"><a class="<%= path === '/plants' ? 'active' : '' %>" href="/plants">PLANTS</a></li>
                <% if (isAuth) { %>
                    <li class="main-header_list-item"><a class="<%= path === '/account' ? 'active' : '' %>" href="/account/home">ACCOUNT</a></li>
                    <li class="main-header_list-item">
                        <form action="/?logout=true" method="post">
                            <button class="btn-flat" type="submit">LOGOUT</button>
                        </form>
                    </li>
                <% } else { %>
                <li class="main-header_list-item"><a href="/">LOGIN</a></li>
                <% } %>
            </ul>
          </div>
    </nav>
</header>