<header>
    <nav class="main-header_nav">
        <ul class="main-header_list">
            <li class="main-header_list-item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">HOME</a></li>
            <li class="main-header_list-item"><a class="<%= path === '/plants' ? 'active' : '' %>" href="/plants">PLANTS</a></li>
            <li class="main-header_list-item"><a class="<%= path === '/account' ? 'active' : '' %>" href="/account">ACCOUNT</a></li>
        </ul>
    </nav>
</header>