<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
    <main>
        <h1>Account Page</h1>

        <h2>My Pants:</h2>
        <% if (plants.length > 0) { %>
            <div class="grid">
                <% for (let plant of plants) { %>
                    <p><%= plant.plantName %></p>
                <% } %>
            </div>
        <% } else { %>
            <p>No Plants Added!</p>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>