<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<main>
    <h1>Plant Page</h1>
    <form action="/account" method="POST">
        <input type="text" name="plantName">
        <button type="submit">ADD PLANT</button>
    </form>
</main>
<%- include('includes/end.ejs') %>